body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
    color: white;
}

header {
    width: 100%;
    height: 30vh;
    background-color: black;
    padding-left: 10px;
}

main {
    display: flex;
    width: 100%;
    height: 1000vh;
    background-color: rgb(52, 116, 153);
    padding-left: 10px;
}

.header-main{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    line-height: 40px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.headline-image{
    text-align: center;
}

.image-article{
    display: block;
    text-align: center;
  
}

ul {
    list-style-type: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}

#content {
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 80%;
    padding-right: 10px;

}
.content-wrapper {
    display: flex;
    justify-content: space-around;
}

aside {
    width: 20%;
    background-color: tomato;
    padding-left: 10px;
}

.caption{
    font-size: smaller;
}

.navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ul li span {
    transition: all 300ms;
    background-color: rgb(var(--tw-clr-primary-300) / 0);
}

.navbar-ul {
    display: flex;
    align-items: center;
    font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;
}

.navbar-ul > * ~ * {
    margin-left: 1rem;
}

.navbar-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.125rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    font-weight: 500;
    color: rgb(60, 206, 186);
}

.navbar-link:hover {
    color: var(--clr-primary-200);
}
  
.navbar-link:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.name{
    font-size: 3rem;
    padding-left: 2rem;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: cadetblue;
    padding-left: 10px;
    padding-top: 0px;
}